  /* Establecer el color del fondo de la barra de desplazamiento */
  ::-webkit-scrollbar {
    background-color: #f1f1f1;
  }
  
  /* Establecer el color del borde de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Establecer el color de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  /* Ancho de la barra de desplazamiento */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Grosor de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

.u-section-1 {
  background-image: url("images/slider2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 875px;
}

.u-section-1 .u-text-1 {
  font-family: Arizonia;
  font-size: 12.5rem;
  line-height: 0.8;
  width: 810px;
  margin: 143px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 165px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 99px 402px 60px auto;
  padding: 17px 20px 17px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 96px;
    margin-left: 65px;
    margin-right: 65px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 110px;
    margin-right: 59px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
    margin-right: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-text-1 {
    font-size: 9.375rem;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 61px;
    margin-right: 61px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 174px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 134px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 671px;
}

.u-section-2 .u-text-1 {
  margin: 70px 401px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 69px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 385px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  height: 237px;
  width: 237px;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 13px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  height: 237px;
  width: 237px;
  margin: 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 13px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  height: 237px;
  width: 237px;
  margin: 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 13px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  height: 237px;
  width: 237px;
  margin: 0 auto;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 13px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 38px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 56px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 407px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: NaNpx;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1303px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1280px;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2875px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2599px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 5px;
  }

  .u-section-2 .u-image-1 {
    height: 237px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 5px;
  }

  .u-section-2 .u-image-2 {
    height: 237px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 5px;
  }

  .u-section-2 .u-image-3 {
    height: 237px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 5px;
  }

  .u-section-2 .u-image-4 {
    height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2044px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1648px;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
  }

  .u-section-2 .u-image-4 {
    height: NaNpx;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 656px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 41px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 8px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  margin: 70px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 60px auto 0;
  padding: 17px 30px 17px 29px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 536px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/descarga1.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -74px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 925px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 198px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 656px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/descarga.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 536px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-4 .u-text-1 {
  margin: 52px 38px 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  margin: 60px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 61px auto 0;
  padding: 17px 30px 17px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-4 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 442px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 164px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/slider2.jpg');
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 387px;
}

.u-section-5 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 267px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-icon-1 {
  width: 105px;
  height: 105px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 21px;
}

.u-section-5 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-icon-2 {
  width: 105px;
  height: 105px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 21px;
}

.u-section-5 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-icon-3 {
  width: 105px;
  height: 105px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 21px;
}

.u-section-5 .u-text-3 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 219px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 517px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 115px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 602px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  width: 186px;
  margin: 30px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  width: 186px;
  margin: 30px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-icon-3 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  width: 186px;
  margin: 30px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-icon-4 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  width: 186px;
  margin: 30px auto 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-icon-5 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  width: 186px;
  margin: 30px auto 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-icon-6 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  width: 186px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 541px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 610px;
}

.u-section-7 .u-text-1 {
  margin: 48px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-7 .u-list-1 {
  margin-top: 81px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 14.5px));
  min-height: 305px;
  grid-gap: 29px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-7 .u-image-1 {
  width: 179px;
  height: 179px;
  background-image: url("images/pexels-photo-3765140.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -58px auto 0;
}

.u-section-7 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 11px auto -11px;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-7 .u-image-2 {
  width: 179px;
  height: 179px;
  background-image: url("images/ncept-confident-nice-smiling-asian-woman-cross-arms-chest-confident-ready-help-listening-coworkers-taking-part-conversation.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -58px auto 0;
}

.u-section-7 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-7 .u-text-6 {
  margin: 11px auto -11px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    min-height: 250px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: -19px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-bottom: 5px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: -19px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 664px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-top: 54px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 54px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -48px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 7px;
    margin-bottom: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: -48px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 7px;
    margin-bottom: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 657px;
}

.u-section-8 .u-categories-1 {
  margin: 91px auto 0;
}

.u-section-8 .u-categories-item-content-1 {
  margin-right: 5px;
  margin-bottom: 0;
  padding: 10px;
}

.u-section-8 .u-products-1 {
  height: auto;
  margin: 20px auto 50px 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 468px;
  grid-gap: 0px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-8 .u-image-1 {
  height: 192px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-family: Vidaloka;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-product-price-1 {
  margin: 17px auto 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 23px auto 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-8 .u-image-2 {
  height: 192px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-product-price-2 {
  margin: 17px auto 0;
}

.u-section-8 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 23px auto 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-8 .u-image-3 {
  height: 192px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-product-price-3 {
  margin: 17px auto 0;
}

.u-section-8 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 23px auto 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-8 .u-image-4 {
  height: 192px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-product-price-4 {
  margin: 17px auto 0;
}

.u-section-8 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 23px auto 0;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-products-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 418px;
    grid-auto-columns: 25%;
  }

  .u-section-8 .u-image-1 {
    inset: auto;
  }

  .u-section-8 .u-btn-1 {
    padding: 0 30px;
  }

  .u-section-8 .u-image-2 {
    inset: auto;
  }

  .u-section-8 .u-btn-2 {
    padding: 0 30px;
  }

  .u-section-8 .u-image-3 {
    inset: auto;
  }

  .u-section-8 .u-btn-3 {
    padding: 0 30px;
  }

  .u-section-8 .u-image-4 {
    inset: auto;
  }

  .u-section-8 .u-btn-4 {
    padding: 0 30px;
  }

  .u-section-8 .u-gallery-nav-1 {
    padding: 13px;
  }

  .u-section-8 .u-gallery-nav-2 {
    padding: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-products-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 1050px;
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-8 .u-categories-1 {
    margin-top: 16px;
  }

  .u-section-8 .u-products-1 {
    margin-top: -9px;
    margin-bottom: 16px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 974px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-8 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-8 .u-btn-4 {
    margin-top: 20px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 715px;
}

.u-section-9 .u-text-1 {
  font-family: Arizonia;
  line-height: 1;
  margin: 35px 346px 0 377px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: 45px -23px 60px auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 529px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-9 .u-image-1 {
  width: 310px;
  height: 310px;
  background-image: url("images/pancitos.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 7px auto 0;
}

.u-section-9 .u-text-2 {
  font-style: normal;
  font-size: 1.125rem;
  font-family: Vidaloka;
  margin: 23px 7px 0;
}

.u-section-9 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-9 .u-text-3 {
  font-family: Vidaloka;
  margin: 9px 0 0 14px;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 512px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-9 .u-text-4 {
  font-family: Vidaloka;
  margin: 35px 120px 0 auto;
}

.u-section-9 .u-map-1 {
  width: 470px;
  height: 370px;
  margin: 35px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-9 .u-text-1 {
    width: 437px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 61px;
    margin-right: 81px;
  }

  .u-section-9 .u-map-1 {
    width: 410px;
    margin-top: 22px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 167px;
    margin-right: 136px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-map-1 {
    width: 317px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 77px;
    margin-right: 46px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1214px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
    margin-top: 78px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 38px;
    margin-right: auto;
  }

  .u-section-9 .u-map-1 {
    margin-top: 21px;
  }
}